<div style="margin-bottom: 15px;">
  <strong>{{ pub.title }}</strong><br>
  {{ pub.authors }}<br>

  {% if pub.journal %}
    <em>{{ pub.journal }}</em>, {{ pub.volume }}, {{ pub.pages }} ({{ pub.year }})
  {% endif %}

  {% if pub.booktitle %}
    <em>{{ pub.booktitle }}</em> ({{ pub.year }})
  {% endif %}

  {% if pub.link != "" %}
    <a href="{{ pub.link }}" target="_blank">Link</a>
  {% endif %}

  {% if pub.pdf != "" %}
    <a href="{{ pub.pdf }}" target="_blank">PDF</a>
  {% endif %}
</div>